<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <title>Title</title>
</head>
<body>

<style>
    .fail {
        background-color: red;
        color: white;
        width: 200px;
        height: 50px;
        text-align: center;
        position: absolute;
        top:50%;
        <!--수직 가운데 정렬이 어려워요-->
        <!--padding의 상단 값을 계속 조절해가면서 센터를 잡는게 가장 쉽다-->
    }


</style>


<div class="fail">비정상적인 접근입니다.</div>



</body>
</html>